/* Components */
@import "../SpoqaHanSansNeo_TTF_original/*";

/* Screen */
@import "./reset.css";
@import "./welcome.css";
@import "./login.css";

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Regular.ttf");
}

* {
  box-sizing: border-box;
}

.wrapper {
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  font-family: "SpoqaHanSansNeo";
}
