* {
  box-sizing: border-box;
}

body {
  background: #1e1f21;
  color: #7a7a7a;
}

a {
  text-decoration: none;
  color: inherit;
}

.login-container {
  margin: 20px;
  background: #2c2d30;
  border: 1px solid #3a3b3d;
  width: 350px;
  height: 135px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-header {
  font-size: 13px;
}

.login__btn img {
  width: 62px;
  height: 20px;
  margin-right: 6px;
}

.login__btn {
  width: 315px;
  height: 50px;
  margin: 15px 0;
  background: #17ce5f;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
}

.list-util {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.find__id::after {
  display: inline-block;
  content: " ";
  width: 3px;
  height: 3px;
  background: #7a7a7a;
  border-radius: 10px;
  vertical-align: 3px;
  margin-left: 5px;
}
