@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  @include flex-center;
  background: gray;
}

.aside {
  @include flex-center;
  background: white;
}
/*.card와 .aside 클래스 선택자의 적용한 스타일이 겹침*/
